/*========================
   General Styles
=========================*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(237, 241, 241);
    /* background-color: red; */
    padding-bottom: 500px;
    padding-top: 100px;  /*equal to or slightly larger than header height */

}
.header{
    display: flex;
    justify-content: space-between;
    position: fixed; 
    padding: 20px 10px;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    /* max-height: 180px; */
    /* margin-bottom: 10%; */
}
.header a{
    text-decoration: none;
}
.header a h1{
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    /* font-weight: bolder; */
}
.nav-bar ul{
    list-style: none;
}
.nav-bar ul li{
    display: inline-block;
    margin: 5px;

}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.5s ease-in-out;

}
.nav-bar ul li a:hover, 
.nav-bar ul li a:active{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

/* =====================================
   Create Post / Edit Post / Login / Signup Page Styles 
========================================*/

.form{
    margin-top: 10%;
    border-radius: 10px;
    /* box-shadow: 0 0 20px 3px rgb(190, 189, 189);  */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
    max-width: 500px;
    padding: 20px; 
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}
.form h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}
.form input{
    display: block;
    padding: 10px 7px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(237, 241, 241);
    font-size: 1.1rem;
}

.form textarea{
    display: block;
    padding: 10px 7px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(237, 241, 241);
    font-size: 1.1rem;

}

.form button{
    background-color: rgb(22, 109, 22);
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: color 0.5s ease-in-out;
    /* margin: 5%; */

}
.form button:hover{
    background-color: rgb(34, 142, 34); 
}
.form p{
    margin-top: 15px;
}
.form p a{
    font-size: 1rem;
    color: #000;
    text-decoration: none;
}
.form p a:hover{
    text-decoration: underline;
}
/* ========================
   Index / Members Page Styles
======================== */
.container{
    margin-top: 3%;
}
.search-form{ 
    margin-left: 10px;
}
.search-form input{
    /* display: block; */
    padding: 10px 7px;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);

}
.search-form button{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease-in-out;

}
.search-form button:hover{
    background-color: rgb(219, 218, 218); 
}
.content{
    margin: 10px;
    border-radius: 5px;
    padding: 15px 10px;
    background-color: white;
    max-width: 98%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);

}
.content a{
    text-decoration: none;
    color: black;
}
.title {
    font-family: 'Lucida Sans' sans-serif;
    margin-bottom: 5px;
}
.date{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 8px;
}


/* =================================
Post Detail / Comment Page Styles
==================================== */

.wrapper{
    margin-top: 10%;
}
/* Post header, details, including edit and delete options */
.post-header{
    display: flex;
    justify-content: space-between;
}
.post-header .title {
    font-family: 'Lucida Sans' sans-serif;
    margin-bottom: 5px;
}
.action a, .action form{
    margin: 0 5px;
    display: inline;
}
.post-header .action a{
    padding: 4px 10px;
    background-color: rgb(11, 107, 11);
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}
.action a:hover{
    background-color: rgb(28, 192, 28); 

}
.action form button{
    padding: 5px 12px;
    background-color: rgb(207, 8, 8);
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.action form button:hover{
    background-color: rgb(230, 76, 76);

}
.date{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 8px;
}
/* All Comments */
.comments{
    margin: 10px;
    margin-top: 20px;
}
.comments span, .comments h2{
    display: inline;
}
.comments span{
    font-size: 0.8rem;
    margin-left: 20px;

}
.content{
    margin: 10px;
    padding: 15px 10px;
    background-color: white;
    max-width: 98%;
}
.content a{
    text-decoration: none;
    color: black;
}
/* Comment form */
.comment-form{
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(190, 189, 189); 
    max-width: 30%;
    padding: 20px; 
    background-color: white;
    margin-left: 10px;
}
.comment-form h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}
.comment-form input{
    display: block;
    padding: 10px 7px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(237, 241, 241);
    font-size: 1.1rem;
}
.comment-form textarea{
    display: block;
    padding: 10px 7px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(237, 241, 241);
    font-size: 1.1rem;

}
.comment-form button{
    background-color: rgb(22, 109, 22);
    border-radius: 10px;
    padding: 7px 12px;
    border: none;
    color: #fff;
    transition: color 0.5s ease-in-out;

}
.comment-form a:hover{
    background-color: rgb(28, 192, 28); 
}


/* =================================
Responsive Design/ Media Query
==================================== */

/* Phone */
@media screen and (max-width: 768px) {
    
    .header {
        flex-direction: column;
        align-items: center;
        padding: 15px;

    }
    
    .form,
    .comment-form{
        width: 90%;
        max-width: 500px;
        /* margin: 0 auto; */
        margin-left: auto;
        margin-right: auto;
    }
    .search-form input{
        width: 70%;
    } 

}

@media screen and (max-length: 468px) {
    .header a h1 {
        font-size: 1.5rem;
    }
    .post-header .title{
        font-size: 0.8rem;
    }
    .nav-bar ul li a{
        font-size: 0.9rem;

    }
    .nav-bar ul li{
         /* display: block;  */
        margin: 8px 5px; 
    }
    .title{
        font-size: 1.2rem;
    }
    .search-form input {
        width: 80%;
    }
    .form input, 
    .form textarea,
    .comment-form input,
    .comment-form textarea {
        font-size: 1rem;
    }
    .post-header .title{
        font-size: 0.8rem;
    }
}


