{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="form">
    <h3>Create A New Post</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Post title" required>
        <textarea name="body"></textarea>
        <button type="submit">Create Post</button>
    </form>
</div>
{% else %}
<div class="para">
    <p>You have to be logged in to create a post. <a href="{% url 'login' %}">Login here</a></p>
</div>
{% endif %}

{% endblock %}
