{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="wrapper">
            {% if not user.isauthenticated %}
            <p>You are not authorized to view this page. <a href="{% url 'login' %}">Login here</a></p>
            {% else %}
            {% for member in members %}
            <div class="content">
                <!-- <a href="#"> -->
                    <h2 class="title">Username: {{member.first_name}}</h2>
                    <p class="date">Email: {{member.email}}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
{% endblock %}